div
  .page-container
    .header
      h1.title Impressum
    .content
      h2.ff-title Wichtige Kundeninformationen über den OVB Berater Axel Beta in Hamburg
      p Axel Beta
      p Bezirksleiter für die OVB Vermögensberatung AG
      p Papenstr. 23
      p 22089 Hamburg
      p Versicherungsvermittler-Registernummer: D-JX5L-MXZ00-27
      p Axel Beta  ist ein Versicherungsvertreter mit Erlaubnispflicht nach § 34 d Abs. 1 GewO, eingetragen in das Vermittlerregister gemäß § 11a GewO, Bundesrepublik Deutschland Berufsrechtliche Regelung: § 34 d GewO, §§ 59 – 68 VVG, VersVermV. Diese berufsrechtlichen Regelungen können Sie auf folgender Internetseite einsehen: www.gesetze-im-internet.de

      h3.ff-title-small Zuständige Erlaubnisbehörde
      p Handelskammer Hamburg
      p Adolphsplatz 1
      p 20457 Hamburg
      p Tel.: 040 36138 138
      p Fax: 040 36138 401
      p Mail: service@hk24.de
      p Web:&nbsp;
        a(href="www.kh24.de") www.kh24.de

      p Finanzanlagenvermittler-Registernummer: D-F-140-M8UH-77
      p Axel Beta ist ein Finanzanlagenvermittler mit Erlaubnispflicht nach § 34 f Abs. 1 Satz 1 GewO, eingetragen in das Vermittlerregister gemäß §11a Abs. 1 GewO.
      p Zuständige Erlaubnisbehörde:
      p IHK zu Kiel
      p Bergstr. 2
      p 24103 Kiel
      p Tel.:&nbsp;
        a(href="tel:043151940") 0431 5194 0
      p Fax:&nbsp;
        a(href="fax:04315194234") 0431 5194 234
      p Mail:&nbsp;
        a(href="mailto:ihk@kiel.ihk.de") ihk@kiel.ihk.de
      p Web:&nbsp;
        a(href="www.ihk-schleswig-holstein.de") www.ihk-schleswig-holstein.de

      h3.ff-title-small Erlaubnis gemäß § 34 c GewO
      p Zuständige Erlaubnisbehörde
      p IHK zu Kiel
      p Bergstr. 2
      p 24103 Kiel
      p Tel.:&nbsp;
        a(href="tel:043151940") 0431 5194 0
      p Fax:&nbsp;
        a(href="tel:04315194234") 0431 5194 234
      p Mail:&nbsp;
        a(href="mailto:ihk@kiel.ihk.dee") ihk@kiel.ihk.de
      p Web:&nbsp;
        a(href="www.ihk-schleswig-holstein.de") www.ihk-schleswig-holstein.de
      p Immobiliardarlehensvermittler-Registernummer: D-W-140-MRHY-26
      p Axel Beta ist ein Immobiliardarlehensvermittler mit Erlaubnispflicht nach § 34 i Abs. 1 GewO, eingetragen in das Vermittlerregister gemäß § 11a Abs. 1 GewO.
      p Zuständige Erlaubnisbehörde:
      p IHK zu Kiel
      p Bergstr. 2
      p 24103 Kiel
      p Tel.:&nbsp;
        a(href="tel:043151940") 0431 5194 0
      p Fax:&nbsp;
        a(href="tel:04315194234") 0431 5194 234
      p Mail:&nbsp;
        a(href="mailto:ihk@kiel.ihk.dee") ihk@kiel.ihk.de
      p Web:&nbsp;
        a(href="www.ihk-schleswig-holstein.de") www.ihk-schleswig-holstein.de

      h3.ff-title-small Eine aktuelle Auflistung der Produktpartner der OVB
      p Vermögensberatung AG finden Sie hier:
      p Axel Beta besitzt weder direkte noch indirekte Beteiligungen von über zehn Prozent an den Stimmrechten oder am Kapital eines Versicherungsunternehmens noch besitzen Versicherungsunternehmen oder Mutterunternehmen von Versicherungsunternehmen eine direkte oder indirekte Beteiligung von über zehn Prozent an den Stimmrechten oder am Kapital von Axel Beta.

      h3.ff-title-small Kundengelder / Zuwendungen
      p Axel Beta nimmt keine Kundengelder entgegen. Zahlungen erfolgen direkt von den Kunden an die jeweiligen Produktgeber.
      p Axel Beta erhält von den Partnergesellschaften für die Produktvermittlung eine Vergütung (Provisionszahlung), die einbehalten werden darf. Diese ist in der Versicherungsprämie einkalkuliert.
      p Vermittler-Registerstelle, bei der sich die Eintragungen überprüfen lassen:
      p Deutscher Industrie- und Handelskammertag (DIHK) e.V.
      p Breite Straße 29
      p 10178 Berlin
      p Tel.:&nbsp;
        a(href="tel:01806005850") 0180 6005 850
        span &nbsp;(20 Cent/Anruf aus dem dt. Festnetz, höchstens 60 Cent/Anruf aus Mobilfunknetzen)
      p
        a(href="www.dihk.de") www.dihk.de,&nbsp;
        a(href="www.vermittlerregister.info") www.vermittlerregister.info

      h3.ff-title-small Alternative Streitbeilegung — Beschwerde-/Schlichtungsstellen
      p Sofern im Falle einer Kundenbeschwerde im Zusammenhang mit der Vermittlung einer Versicherung ausnahmsweise keine einvernehmliche Lösung mit unserem Unternehmen gefunden werden kann, ist unser Unternehmen bereit, an einem Streitbeilegungsverfahren vor den nachstehenden Schlichtungsstellen teilzunehmen.
      p Betrifft die Beschwerde eine Versicherungsvermittlung, ist der Versicherungsombudsmann e.V. zuständig.
      p Kontakt: Postfach 08 06 32, 10006 Berlin
      p Tel.:&nbsp;
        a(href="tel:08003696000") 0800 3696 000
        span &nbsp;(kostenfrei aus deutschen Telefonnetzen)
      p Aus dem Ausland erreichen Sie die Schlichtungsstelle unter der gebührenpflichtigen Rufnummer
      p
        a(href="tel:+493020605899") +49 30 206058 99
      p Fax.:&nbsp;
        a(href="fax:08003699000") 0800 3699 000
        span &nbsp;(kostenfrei aus deutschen Telefonnetzen)
      p Aus dem Ausland erreichen Sie die Schlichtungsstelle per Fax unter der gebührenpflichtigen Rufnummer
      p
        a(href="tel:+493020605898") +49 30 206058 98
      p Web:&nbsp;
        a(href="www.versicherungsombudsmann.de") www.versicherungsombudsmann.de
      p Mail:&nbsp;
        a(href="mailto:beschwerde@versicherungsombudsmann.de") beschwerde@versicherungsombudsmann.de
      p Betrifft die Beschwerde die Vermittlung einer privaten Krankenversicherung, besteht die Zuständigkeit des Ombudsmanns Private Kranken- und Pflegeversicherung
      p Kontakt: Postfach 06 02 22, 10052 Berlin
      p Tel.:&nbsp;
        a(href="tel:08002550444") 0800 2550 444
        span &nbsp;(kostenfrei aus deutschen Telefonnetzen)
      p Aus dem Ausland erreichen Sie die Schlichtungsstelle per Fax unter der gebührenpflichtigen Rufnummer
      p Fax.: &nbsp;
        a(href="tel:03020458931") 030 204 58 931
      p Web:&nbsp;
        a(href="www.pkv-ombudsmann.de") www.pkv-ombudsmann.de
      p Mail:&nbsp;
        a(href="mailto:ombudsmann@pkv-ombudsmann.de") ombudsmann@pkv-ombudsmann.de
      p Bitte achten Sie darauf, dass das Schlichtungsverfahren voraussichtlich ausgesetzt wird, wenn Sie Ihren Anspruch nicht vorher direkt bei uns geltend gemacht haben oder wenn seit der Geltendmachung nicht mehr als zwei Monate vergangen sind und wir den Anspruch innerhalb der zwei Monate weder anerkannt noch abgelehnt haben.
      p Betrifft Ihre Beschwerde eine Darlehensvermittlung, die Vermittlung einer Immobilie, die Vermittlung eines Bausparvertrages oder die Vermittlung einer Finanzanlage im Sinne des § 34 f Abs. 1 Nr. 1 oder Nr. 2 GewO (Investmentfonds oder einen Alternativen Investmentfonds), nimmt unser Unternehmen nicht an einem externen Schlichtungsverfahren teil. Sie haben jedoch immer die Möglichkeit, sich wegen einer Beschwerde auch zu solchen Verträgen oder Produkten an unser Unternehmen zu wenden.

      h2.ff-title Angaben gemäß § 5 TMG
      p
        | Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
        | Verbraucherschlichtungsstelle
        | teilzunehmen.
      h3.ff-title-small Haftung für Inhalte
      p
        | Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf
        | diesen Seiten nach
        | den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
        | nicht
        | verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen
        | zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      p.ff-text
        | Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
        | Gesetzen bleiben
        | hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
        | konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir
        | diese
        | Inhalte umgehend entfernen.
      h3.ff-title-small Haftung für Links
      p
        | Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen
        | Einfluss haben.
        | Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die
        | Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
        | verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
        | Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
      p
        | Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        | Anhaltspunkte einer
        | Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
        | entfernen.
      h3.ff-title-small Urheberrecht
      p
        | Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
        | deutschen
        | Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb
        | der
        | Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
        | Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
      p
        | Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die
        | Urheberrechte
        | Dritter
        | beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        | Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
        | Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
      p
        | Quelle:
        a(href='https://www.e-recht24.de') &nbsp;eRecht24
